h1 {
  padding: 2%;
  border: 5px dotted white;
  text-align: center;
  color: white;
}

img {
  width: 800px;
  border: 1px inset white;
  border-radius: 20px;
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

p {
  padding: 2%;
  line-height: 1.5;
  font-size: 20px;
  text-justify: distribute-all-lines;
  color: rgb(255, 255, 255);
  text-align: justify;
}

button {
  margin: 0 auto;
  transition: all 200ms ease-in-out;
  border: 2px solid rgb(255, 255, 255);
  font-weight: 900;
  background: orange;
  font-size: 20px;
  display: block;
  padding: 2%;
  border-radius: 40px;
}

h3 {
  margin: 0 auto;
  width: 350px;
  border: 1px solid white;
  text-align: center;
  color: white;
}

h5 {
  font-weight: 100;
  text-align: center;
  color: rgb(214, 214, 214);
  font-size: 16px;
}

.body_background {
  padding: 4% 6%;
  margin: 0 auto;
  background: radial-gradient(
    circle at -8.9% 51.2%,
    rgb(255, 124, 0) 0%,
    rgb(255, 124, 0) 15.9%,
    rgb(255, 163, 77) 15.9%,
    rgb(255, 163, 77) 24.4%,
    rgb(19, 30, 37) 24.5%,
    rgb(24, 24, 30) 66%
  );
}

.background_style {
  border-radius: 20px;
  max-width: 900px;
  background: radial-gradient(
    circle at -8.9% 51.2%,
    rgb(255, 124, 0) 0%,
    rgb(255, 124, 0) 15.9%,
    rgb(255, 163, 77) 15.9%,
    rgb(255, 163, 77) 24.4%,
    rgb(19, 30, 37) 24.5%,
    rgb(19, 30, 37) 66%
  );
  padding: 1%;
  margin: 0 auto;
  background: linear-gradient(112.1deg, rgb(32, 38, 57) rgb(224, 147, 31));
  box-shadow: 6px 2px red, -1em 0 0.4em rgb(255, 196, 0);
}
.paragraph_container {
  width: 800px;
  box-shadow: 4px 4px 16px rgba(255, 159, 16, 0.546);
  border: 0.5px solid rgb(255, 128, 0);
  max-width: 100%;
  margin: 0 auto;
  border-radius: 20px;
  background-color: rgba(189, 71, 71, 0.8);
}

.display_pictures {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
}

.more_info {
  transition: all 200ms ease-in-out;
  text-decoration: none;
  color: rgb(255, 203, 182);
  font-size: 20px;
  margin: 0 auto;
}

button:hover {
  cursor: pointer;
  background-color: greenyellow;
}
.more_info:hover {
  text-decoration: underline;
  color: greenyellow;
}
